* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.main-cont {
  margin: 50px
}

.digital-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 20px 0;
  height: 80%;
  width: auto;
  opacity: 0.8;
}

.rightpanel {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vertical-progress {
  width: 100%;
  height: auto;
  padding-left: 20px;
  margin: auto;
  display: flex;
  align-items: center;
}

.y-centre {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.pinkred {
  background-color: #f50057;
}
.grey {
  background-color: #d1c4e9;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 20px;
}
.youtube {
  flex: 1;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.section {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.section.block {
  position: relative;
  height: 600px;
  width: 100%;
}

.main-cont .leftblock {
  color: white;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .digital-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
  }
  .section.block {
    height: 300px;
  }
  .youtube {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
}



/* section 2 */
.main-cont2 {
  width: auto;
  height: auto;
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
}

.main-cont2 .right-section {
  width: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.branches {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  width: auto;
}

.branch-item {
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

}

.everything-digital {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
  justify-self: flex-end;
  object-fit: contain;
  height: auto;
}

.show-results-btn {
  align-self: center;
  width: 20%;
  background-color: #f50057;
  border-radius: 10px;
}
.section2 {
  flex: 1;
  min-width: 300px;
  text-align: center;
  position: relative;
  height: 600px;
  width: 50%;
}
.left-section, .right-section {
  align-self: center;
  justify-self: center;
  min-height: 300px;
}

@media (max-width: 768px) {
  .main-cont2 {
    flex-direction: column-reverse;
  }
  .section2 {
    height: auto;
  }
}


/* section 3 */
.main-cont3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.credit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px 0px;
  margin: 10px;
}
.credit-card-desc {
  text-align: center;
}
.grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 20px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
  background-color: aliceblue;
  gap: 10px;
  padding: 10px;
}
.card-heading {
  font-size: x-large;
  font-weight: 800;
  text-align: center;
}

.card-desc {
  text-align: center;
}
.view-more-btn {
  display: none;
  background-color: #f50057;
  border-radius: 10px;
}
@media (max-width: 1068px) {
  .main-cont3 {
    height: auto;
    padding: 20px;
  }
  .view-more-btn {
    display: block;
  }
  .grid {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(3, 150px);
    .grid-item:nth-child(4),
    .grid-item:nth-child(5),
    .grid-item:nth-child(6) {
      display: none;
    }
    .grid-item:nth-child(1),
    .grid-item:nth-child(2),
    .grid-item:nth-child(3) {
      justify-self: center;
      align-self: center;
      width: 100%;
      height: 100%;
    }
  }
}

/* section 4 */
.main-cont4 {
  height: 300px;
  width: 100%;
}
.cards-for-you {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  align-items: center;
  height: 80%;
  width: auto;
  background-color: #f50057;
  border-radius: 20px;
}
.card-icon {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.card-head {
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: 800;

}

@media (max-width: 768px) {
  .cards-for-you {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }
  .card-icon {
    flex-direction: column;
    gap: 10px;
  }
  .card-head {
    text-align: center;
  }
}


/* section 5 */
.main-cont5 {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 20px;
}

.master-credit-card {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* max-height: 100%;
  justify-self: flex-end;
  object-fit: contain;
  height: auto; */
}

.section5 {
  flex: 1;
  min-width: 300px;
  text-align: center;
  position: relative;
  height: 600px;
  width: 50%;
}
#master-card {
  grid-column: span 2;
}

.section5.right-section {
  margin: auto;
  padding: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 50px;
  height: 500px;
  justify-content: center;
  align-items: start;
}

.section5 .card-desc {
  opacity: 0.5;
}

.icon {
  display: flex;
  background-color: #f50057;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.grid-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .main-cont5 {
    flex-direction: column-reverse;
    height: auto;
  }
  .section5.right-section {
    grid-template-columns: repeat(1, 250px);
  }
  #master-card {
    grid-column: span 1;
    height: auto;
  }
}