* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.main-cont {
  margin: 50px
}

.y-centre {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pinkred {
  background-color: #f50057;
}
.grey {
  background-color: #d1c4e9;
}
.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 10px;
}
.youtube {
  flex: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section {
  flex: 1;
  min-width: 300px;
  text-align: center;
}

.section.block {
  position: relative;
  height: 600px;
  width: 100%;
}

.main-cont .leftblock {
  color: white;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .section.block {
    height: 300px;
  }
  .youtube {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
}



/* section 2 */
.main-cont2 {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
}

img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-height: 100%;
  justify-self: flex-end;
  object-fit: contain;
  height: auto;
}

.section2 {
  flex: 1;
  min-width: 300px;
  text-align: center;
  position: relative;
  height: 600px;
  width: 50%;
}

@media (max-width: 768px) {
  .main-cont2 {
    flex-direction: column-reverse;
  }
  .section2 {
    height: auto;
  }
  img {
    position: static;
    transform: none;
    width: 50%;
    min-height: 300px;
  }
  .left-section, .right-section {
    min-height: 300px;
  }
}


/* section 3 */
.main-cont3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.credit-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 50px 0px;
  margin: 10px;
}
.credit-card-desc {
  text-align: center;
}
.grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 200px);
  grid-gap: 20px;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 10px;
  background-color: aliceblue;
  gap: 10px;
  padding: 10px;
}
.card-heading {
  font-size: x-large;
  font-weight: 800;
  text-align: center;
}

.card-desc {
  text-align: center;
}
@media (max-width: 1068px) {
  .grid {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 250px);
    grid-template-rows: repeat(3, 150px);
    .grid-item:nth-child(4),
    .grid-item:nth-child(5),
    .grid-item:nth-child(6) {
      display: none;
    }
    .grid-item:nth-child(1),
    .grid-item:nth-child(2),
    .grid-item:nth-child(3) {
      justify-self: center;
      align-self: center;
      width: 100%;
      height: 100%;
    }
  }
}

/* section 4 */
.main-cont4 {
  height: 300px;
  width: 100%;
}